@font-face {
  font-family: nexa-bold;
  src: url("../fonts/nexa/Nexa-Other.otf");
}

@font-face {
  font-family: nexa-heavy;
  src: url("../fonts/nexa/Nexa-Heavy.otf");
}

@font-face {
  font-family: lato-light;
  src: url("../fonts/lato/Lato-Light.ttf");
}

@font-face {
  font-family: lato-bold;
  src: url("../fonts/lato/Lato-Bold.ttf");
}

@font-face {
  font-family: lato-black;
  src: url("../fonts/lato/Lato-Black.ttf");
}

:root {
  --primary: #ffbd71;
  --light: #484f5e;
  --medium-blue: #3a404d;
  --medium-grey: #363a44;
  --dark: #2d313a;
  --text-light: #d5d5d5;
  --text-medium: #9f9f9f;
  --text-dark: #808080;
}

html,
body {
  margin: 0;
  padding: 0;
}

#defaultCanvas0 {
  display: none;
}

#clogo {
  position: relative;
  /*
  height: 28vh;
  width: 28vw;
  */
  height: 150px;
  margin-bottom: 20px;
  /*padding-right: 10px;*/
}

.background {
  width: 100%;
  background-color: var(--medium-grey);
}

.menu-button {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 10%;
  z-index: 2;
}

.container {
  position: relative;
  width: 75vw;
  margin: 0 auto;
}
.panel {
  position: relative;
  width: 100%;
  height: 100vh;
}
.title-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  width: 80%;
  line-height: 15px;
}

.title {
  font-family: nexa-bold;
  font-size: 1.45em;
  letter-spacing: 6.3px;
  color: var(--text-medium);
}
.title-text {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 3.4px;
}
.text-light {
  font-family: lato-light;
  color: var(--text-dark);
}

.centre-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
}

.title-container form {
  display: inline-block;
  margin-top: 50px;
}

.title-container form input {
  font-size: 1em;
  font-family: lato-bold;
}

.cv-button {
  width: 80px;
  /*padding-right: 60px !important;*/
  padding: 20px 25px 20px 0px;
  border: 1px solid var(--text-light);
  border-radius: 5px;
  margin-right: 5px;
  color: var(--text-light);
  position: relative;
  background: url("../img/download.svg") no-repeat 50px 22px;
  background-size: 0.78em;
  transition: ease-out 0.3s;
  cursor: pointer;
}
.cv-button:hover {
  color: var(--dark);
  background: url("../img/download-dark.svg") no-repeat 50px 22px;
  background-size: 0.78em;
  background-color: var(--text-light);
}

.contact-button {
  padding: 21px 20px 21px 20px;
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  color: var(--medium-dark);
  transition: ease-out 0.3s;
  cursor: pointer;
}
.contact-button:hover {
  background-color: #ffe2c1;
  box-shadow: 0px 5px 20px #1d1d1d;
}

.download-icon {
  position: relative;
  height: 20px;
}

.projects {
  background-color: var(--medium-blue);
}

.heading-large {
  font-family: nexa-heavy;
  font-size: 2.5em;
  color: white;
  margin-bottom: 70px;
}

ul {
  padding: 0;
}

.projects-container li {
  font-size: 1em;
  list-style: none;
  margin-bottom: 30px;
}

.projects-container a {
  position: relative;
  font-family: lato-light;
  text-decoration: none;
  color: var(--text-light);
  text-transform: uppercase;
  letter-spacing: 3px;
  word-wrap: none;
  white-space: nowrap;
}

.projects-container li:hover p {
  transition: ease-out 0.3s;
  color: var(--primary);
}

.number-heading {
  font-family: lato-black;
  display: inline;
  color: white;
  padding-right: 13px;
  font-size: 1em;
}

.github-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
  font-family: lato-light;
  letter-spacing: 3px;
  font-size: 1em;
  background: none;
  padding: 20px 20px 20px 20px;
  border: 1px solid var(--text-light);
  border-radius: 5px;
  margin-right: 5px;
  color: var(--text-light);
  background-size: 0.78em;
  transition: ease-out 0.3s;
  cursor: pointer;
}
.github-button:hover,
st0:hover {
  background-color: var(--text-light);
  color: var(--dark);
  fill: #484f5e;
}
svg g {
  fill: #060607;
}

@media only screen and (max-width: 600px) {
  .test {
    width: 50px;
    height: 50px;
    background-color: red;
    font-size: 1em;
  }
}
